
.max_section1{width: 100%;}
.min_section1{max-width:1000px ;margin: 0 auto;}
.min_section1 h2{height: 127px;line-height: 127px;font-size: 34px;color: black;text-align: left;
font-weight: normal;}
.con{width: 100%;height: 83px;}
.con li{width: 25%;float: left;height: 83px;}
.con li a{width: 60%;padding-bottom: 20px;height: 63px;display: block;padding-left:40%;cursor: pointer;
border-bottom:5px solid  transparent;}
.con li a:hover{border-bottom:5px solid  #ff8033;}
.con li:nth-of-type(1) a{background: url(../img/service_1_1.jpg)no-repeat 10% 10%;}
.con li:nth-of-type(2) a{background: url(../img/service_2_1.jpg)no-repeat 10% 10%;}
.con li:nth-of-type(3) a{background: url(../img/service_3_1.jpg)no-repeat 10% 10%;}
.con li:nth-of-type(4) a{background: url(../img/service_4_1.jpg)no-repeat 10% 10%;}
.con li:nth-of-type(1):hover a{background: url(../img/service_1_2.jpg)no-repeat 10% 10%;}
.con li:nth-of-type(2):hover a{background: url(../img/service_2_2.jpg)no-repeat 10% 10%;}
.con li:nth-of-type(3):hover a{background: url(../img/service_3_2.jpg)no-repeat 10% 10%;}
.con li:nth-of-type(4):hover a{background: url(../img/service_4_2.jpg)no-repeat 10% 10%;}
.con li a h4{height: 33px;line-height: 33px;text-align: left;font-size: 17px;color: #222222;font-weight: normal;}
.con li a p{height: 30px;line-height: 30px;text-align: left;font-size: 12px;color: #888888;}
@media only screen and (min-width:1080px ) {
	.max_header{position: fixed;z-index: 10000;}
}
@media only screen and (min-width: 761px) and (max-width:1000px) {
	.min_section1{width: 92%;margin: 0 auto;}
	.min_section1 h2{font-size: 31px;}
	
}
@media only screen and (max-width:760px) and (min-width:480px) {
	.min_section1{width: 92%;margin: 0 auto;}
	.min_section1 h2{font-size: 28px;height: 100px;line-height: 100px;}
	.con li:nth-of-type(1) a{background: url(../img/service_1_1.jpg)no-repeat center 10%;}
	.con li:nth-of-type(2) a{background: url(../img/service_2_1.jpg)no-repeat center 10%;}
	.con li:nth-of-type(3) a{background: url(../img/service_3_1.jpg)no-repeat center 10%;}
	.con li:nth-of-type(4) a{background: url(../img/service_4_1.jpg)no-repeat center 10%;}
	.con li:nth-of-type(1):hover a{background: url(../img/service_1_2.jpg)no-repeat center 10%;}
	.con li:nth-of-type(2):hover a{background: url(../img/service_2_2.jpg)no-repeat center 10%;}
	.con li:nth-of-type(3):hover a{background: url(../img/service_3_2.jpg)no-repeat center 10%;}
	.con li:nth-of-type(4):hover a{background: url(../img/service_4_2.jpg)no-repeat center 10%;}
	.con li a{padding-left: 0;width: 100%;padding-bottom: 30px;}
	.con li a h4{text-align: center;padding-top:60px;}
	.con li a h4 span{display: none;}
	.con li a p{display: none;}

}
@media only screen and (max-width:480px){
	.min_section1{width: 92%;margin:0 auto;}
	.min_section1 h2{font-size: 24px;height: 80px;line-height: 80px;}
	.con li a{padding-left: 0;width:100%;padding-bottom: 30px;}
	.con li a h4{text-align: center;padding-top: 60px;}
	.con li a h4 span{display: none;}
	.con li a p{display: none;}
	.con li:nth-of-type(1) a{background: url(../img/service_1_1.jpg)no-repeat center 10%;}
	.con li:nth-of-type(2) a{background: url(../img/service_2_1.jpg)no-repeat center 10%;}
	.con li:nth-of-type(3) a{background: url(../img/service_3_1.jpg)no-repeat center 10%;}
	.con li:nth-of-type(4) a{background: url(../img/service_4_1.jpg)no-repeat center 10%;}
	.con li:nth-of-type(1):hover a{background: url(../img/service_1_2.jpg)no-repeat center 10%;}
	.con li:nth-of-type(2):hover a{background: url(../img/service_2_2.jpg)no-repeat center 10%;}
	.con li:nth-of-type(3):hover a{background: url(../img/service_3_2.jpg)no-repeat center 10%;}
	.con li:nth-of-type(4):hover a{background: url(../img/service_4_2.jpg)no-repeat center 10%;}

	
}
.max_section2{width: 100%;}
.min_section2{max-width: 1000px;margin: 0 auto;width: 100%;}
.min_section2 h2{height: 100px;line-height: 100px;text-align: left;font-size: 34px;color:black ;font-weight: normal;}
.con2{width: 100%;}
.con2 li{width: 33.33333%;float: left;box-sizing: border-box;border:1px solid #dedede ;position: relative;}
.con2 li .img{width: 100%;height: 120px;display: flex;justify-content: center;padding-top: 10px;}
.con2 li>h3{height: 58px;line-height: 58px;text-align: center;font-size: 24px;color: black;
margin-bottom: 5px;font-weight: normal;}
.con2 li:nth-of-type(1),.con2 li:nth-of-type(2),.con2 li:nth-of-type(4),.con2 li:nth-of-type(5){border-bottom:transparent ;border-right:transparent ;}
.con2 li:nth-of-type(3){border-bottom:transparent ;}
.con2 li:nth-of-type(7){border-right:transparent ;}
.con2 li .hgroup1{background: #90c168;width: 90%;margin:0 auto ;position: absolute;left: 0;top: 0;
padding-left: 5%;padding-right: 5%;overflow: hidden;height: 0;}
.con2 li:hover .hgroup1{height: 193px;transition: .01s;cursor: pointer;}
.con2 li .hgroup1 h3{height: 58px;line-height: 58px;text-align: left;font-size: 24px;color: white;font-weight: normal;}
.con2 li .hgroup1 p{line-height: 24px;text-align: left;font-size: 14px;color: white;font-weight: normal;}
@media only screen and (min-width:480px ) and (max-width:760px){
	.min_section2{width: 92%;margin: 0 auto;}
	.min_section2 h2{font-size: 28px;height: 80px;line-height: 80px;}
	.con2 li{border: 0;}
	.hgroup1{display: none;}
	.con2 li .img img{height: 80px;}
	.con2 li .img{height: 80px;}
	.con2 li .img img{height: 80px;}
	.con2 li>h3{height: 40px;line-height: 40px;font-size: 18px;}
}
@media only screen and (max-width:900px ) and (min-width:761px){
	.min_section2{width: 92%;margin: 0 auto;}
	.hgroup1{display: none;}
	.con2 li .img{height: 100px;}
	.con2 li .img img{height: 100px;}
	.con2 li>h3{height: 40px;line-height: 40px;font-size: 18px;}
}
@media only screen and (min-width:761px ) and (max-width:1000px) {
	.min_section2{width: 92%;margin: 0 auto;}
	
}
@media only screen and (max-width:480px ) {
	.con2 li{width: 50%;border:0;}
	.min_section2 h2{font-size: 24px;height: 80px;line-height: 80px;}
	.min_section2{width: 92%;margin: 0 auto;}
	.hgroup1{display: none;}
	.con2 li .img{height: 80px;}
	.con2 li .img img{height: 80px;}
	.con2 li>h3{height: 40px;line-height: 40px;font-size: 18px;}
}
.max_section3{width: 100%;}
.min_section3{max-width: 1000px;margin:0 auto ;padding-top: 5px;position: relative;}
.min_section3 h2{height: 100px;line-height: 100px;font-size: 34px;text-align: left;
color: black;position: relative;font-weight: normal;}
.min_section3 h2 a{display: block;height: 100px;text-align: center;line-height: 100px;
font-size: 12px;color: #fc973f;position: absolute;right: 0;top: 0;}
.section3{width: 100%;overflow: hidden;}
.min_section3 .botto{position: absolute;bottom: 15px;left: 50%;background:#fa9634 ;line-height: 30px;display: none;margin-left: -45px;
width: 90px;height: 30px;text-align: center;font-size: 14px;color: white;cursor: pointer;border-radius:7px ;}
.section3 li{width: 30%;float: left;margin-right: 5%;padding-bottom: 34px;cursor: pointer;}
.section3 li img{display: block;height: 180px;}
.section3 li:nth-of-type(3n){margin-right:0 ;}
.section3 li a{display: block;width: 100%;height: 36px;line-height: 36px;font-size: 18px;color: #333333;}
.section3 li a:hover{color: #fc973f;}
.section3 li p{width: 100%;height: 30px;line-height: 30px;font-size: 12px;color:#888888 ;}

@media only screen and (min-width:761px ) and (max-width:1000px){
	.min_section3{width: 92%;margin: 0 auto;}
	.section3 .aa{display:block;}
	.section3 li{width: 32%;margin-right: 2%;}
	.section3 li img{height: 160px;width: 100%;}
}
@media only screen and (min-width:480px ) and (max-width:760px){
	.min_section3{width: 92%;margin: 0 auto;}
	.min_section3 h2{font-size: 28px;height: 80px;line-height: 80px;}
	.section3 .aa{display: none;}
	.section3{padding-bottom: 50px;}
	.min_section3 .botto{display: block;}
	
	.section3 li{width: 48%;margin-right: 4%;}
	.section3 li:nth-of-type(2n){margin-right: 0;}
	.section3 li:nth-of-type(3){margin-right:4% ;}
	.section3 li img{height: 160px;width: 100%;}
	.section3 li P{font-size: 14px;}
}
@media only screen and (max-width:480px){
	.min_section3{width: 92%;margin: 0 auto;}
	.min_section3 h2{font-size: 24px;height: 80px;line-height: 80px;}
	.section3 .aa{display: none;}
	.section3{padding-bottom: 50px;}
	.min_section3 .botto{display: block;}
	.section3 li{width: 48%;margin-right: 4%;padding-bottom: 0;}
	.section3 li:nth-of-type(2n){margin-right: 0;}
	.section3 li:nth-of-type(3){margin-right:4% ;}
	.section3 li a{height: 40px;line-height: 40px;}
	.section3 li img{height: 120px;width: 100%;}
	.section3 li p{display: none;}
	
}
.max_section4{width: 100%;}
.min_section4{max-width:1000px ;margin:0 auto ;position: relative;}
.min_section4 h2{height: 100px;line-height: 100px;font-size: 33px;color: black;text-align: left;font-weight: normal;}
.section4{width:100%;overflow: hidden;}
.min_section4 .bott{position: absolute;bottom: 15px;left: 50%;background:#fa9634 ;line-height: 30px;display: none;margin-left: -45px;
width: 90px;height: 30px;text-align: center;font-size: 14px;color: white;cursor: pointer;border-radius:7px ;}

.section4 li{width: 20%;float: left;position: relative;height: 200px;}
.section4 li img{height: 200px;display: block;width: 100%;}
.section4 li .con4{width: 100%;background:rgb(250,150,52,.9);position: absolute;left: 0;top: 0;cursor: pointer;
overflow: hidden;height: 0;}
.section4 li:hover .con4{height: 200px;transition: .01s;cursor: pointer;}
.con4 h4{height: 56px;line-height: 56px;font-size: 26px;color:white ;text-align: center;padding-top: 32px;}
.con4 span{height: 52px;line-height: 52px;font-size: 18px;color: white;text-align: center;display: block;}
.con4 p{height: 50px;line-height: 50px;font-size: 18px;color: white;text-align: center;padding-bottom: 10px;}
@media only screen and (min-width:861px ) and (max-width:1000px){
	.min_section4{width:92% ;margin: 0 auto;}
	.con4{display: none;}
	.section4 li img{height:180px ;}
	.section4 li{height: 180px;}
	
}
@media only screen and (min-width:761px ) and (max-width:860px){
	.min_section4{width:92% ;margin: 0 auto;}
	
	.con4{display: none;}
	.section4 li img{height:155px ;}
	.section4 li{height: 155px;}
	
}
@media only screen and (min-width:480px ) and (max-width:760px){
	.min_section4{width:92% ;margin: 0 auto;}
	.min_section4 h2{font-size: 28px;height: 80px;line-height: 80px;}
	.con4{display: none;}
	.section4 li img{height:125px ;}
	.section4 .bb{display: none;}
	.section4 .o{display: none;}
	.section4{padding-bottom: 50px;}
	.min_section4 .bott{display: block;}
	.section4 li{width: 23.5%;margin-right: 2%;margin-bottom: 2%;height:125px ;}
	.section4 li:nth-of-type(4n){margin-right: 0;}
}
@media only screen and (max-width:480px){
	.min_section4{width:92% ;margin: 0 auto;}
	.min_section4 h2{font-size: 24px;height: 80px;line-height: 80px;}
	.con4{display: none;}
	.section4 .bb{display: none;}
	.section4{padding-bottom: 50px;}
	.min_section4 .bott{display: block;}
	.section4 li img{height:120px ;}
	.section4 li{width: 32%;margin-right: 2%;margin-bottom: 2%;height: 120px;}
	.section4 li:nth-of-type(3n){margin-right: 0;}
}
.max_section5{width: 100%;}
.min_section5{max-width: 1000px;margin: 0 auto;position: relative;}
.min_section5 h2{height: 100px;line-height: 100px;font-size: 33px;color: black;text-align: left;font-weight: normal;}
.min_section5 .bot{position: absolute;bottom: 15px;left: 50%;background:#fa9634 ;line-height: 30px;display: none;margin-left: -45px;
width: 90px;height: 30px;text-align: center;font-size: 14px;color: white;cursor: pointer;border-radius:7px ;}
.section5{width: 100%;overflow: hidden;}
.section5 li{width: 24.25%;float: left;position: relative;height: 200px;margin-right: 1%;margin-bottom: 1%;}
.section5 li:nth-of-type(4n){margin-right: 0;}
.section5 li img{height: 200px;display: block;width: 100%;}
.section5 li .con5{width: 100%;background:rgb(144,193,102,.9);position: absolute;left: 0;top: 0;cursor: pointer;
overflow: hidden;height:0px ;}
.min_section5 .bot{display: none;}
.section5 li:hover .con5{height: 200px;transition: .01s;cursor: pointer;}
.con5 h6{height: 56px;line-height: 56px;font-size: 26px;color:white ;text-align: center;padding-top: 32px;}
.con5 p{height: 52px;line-height: 52px;font-size: 16px;color: white;text-align: center;}
.con5 span{height: 50px;line-height: 50px;font-size: 18px;color: white;text-align: center;padding-bottom: 10px;display: block;}
@media only screen and (min-width:861px ) and (max-width:1000px){
	.min_section5{width: 92%;margin: 0 auto;}
	.section5{height: 1050px;}

}
@media only screen and (min-width:761px ) and (max-width:860px){
	.min_section5{width: 92%;margin: 0 auto;}
	.section5{}
	.section5 li{height: 140px;}
	.section5 li img{height:140px ;}
	.con5{display: none;}
	
}
@media only screen and (min-width:480px ) and (max-width:760px){
	.min_section5{width: 92%;margin: 0 auto;}
	.min_section5 h2{font-size: 28px;height: 80px;line-height: 80px;}
	
	.section5 li{height: 140px;width:32% ;margin-right: 2%;margin-bottom: 2%;}
	.section5 li:nth-of-type(3n){margin-right: 0;}
	.section5 li:nth-of-type(4n){margin-right: 2%;}
	.section5 li:nth-of-type(12){margin-right: 0;}
	.section5 li img{height:140px ;}
	.con5{display: none;}
	.section5 .cc{display: none;}
	.section5{padding-bottom: 50px;}
	.min_section5 .bot{display: block;}
}
@media only screen and (max-width:480px){
	.min_section5{width: 92%;margin: 0 auto;}
	.min_section5 h2{font-size: 24px;height: 80px;line-height: 80px;}
	.section5 .cc{display: none;}
	.section5{padding-bottom: 50px;}
	.min_section5 .bot{display: block;}
	.section5 li{height: 120px;width:48.5% ;margin-right: 3%;margin-bottom: 3%;}
	.section5 li:nth-of-type(2n){margin-right: 0;}
	.section5 li img{height:120px ;}
	.con5{display: none;}
}
.max_section6{width: 100%;}
.min_section6{max-width: 1000px;margin: 0 auto;position: relative;}
.min_section6 h2{height: 100px;line-height: 100px;font-size: 33px;color: black;text-align: left;font-weight: normal;}
.section6{width: 100%;overflow: hidden;}
 .min_section6 .btn{position: absolute;bottom: 15px;left: 50%;background:#fa9634 ;line-height: 30px;display: none;margin-left: -45px;
width: 90px;height: 30px;text-align: center;font-size: 14px;color: white;cursor: pointer;border-radius:7px ;}
.section6 li{width:15.83333333333% ;margin-right: 1%;float: left;margin-bottom: 1%;height: 60px;}

.section6 li a{width: 100%;height:60px ;display: block;}
.section6 li a img{width: 100%;height:60px ;display: block;}
.section6 li:nth-of-type(6n){margin-right: 0;}

@media only screen and (min-width:861px ) and (max-width:1000px){
	.min_section6{width: 92%;margin: 0 auto;}
	
}
@media only screen and (min-width:761px ) and (max-width:860px){
	.min_section6{width: 92%;margin: 0 auto;}
	
	.section6 li{height: 40px;}
	.section6 li a{height: 40px;}
	.section6 li a img{height: 40px;}
}
@media only screen and (min-width:480px ) and (max-width:760px){
	.min_section6{width: 92%;margin: 0 auto;}
	.min_section6 h2{font-size: 28px;height: 80px;line-height: 80px;}
	.section6 .over{display: none;}
	.section6 .er{display: none;}
	.section6{padding-bottom: 50px;}
	.min_section6 .btn{display: block;}
	.section6 li{height: 60px;width: 23.5%;margin-right: 2%;margin-bottom: 2%;}
	.section6 li:nth-of-type(4n){margin-right: 0;}
	.section6 li:nth-of-type(6){margin-right: 2%;}
	.section6 li a{height: 60px;}
	.section6 li a img{height: 60px;}
}
@media only screen and (max-width:480px){
	.min_section6{width: 92%;margin: 0 auto;}
	.min_section6 h2{font-size: 24px;height: 60px;line-height: 60px;}
	.section6 .over{display: none;}
	.section6 .er{display:block;}
	.section6{padding-bottom: 50px;}
	.min_section6 .btn{display: block;}
	.section6 li{height: 40px;width: 31.3333333333%;margin-right: 3%;margin-bottom: 3%;}
	.section6 li:nth-of-type(3n){margin-right: 0;}
	.section6 li a{height: 40px;}
	.section6 li a img{height: 40px;}
}


.di{width: 50px;height: 50px;border-radius: 5px;background: url(../about2/img/v_03.gif) no-repeat center #fa9634;
position: fixed;right: 0;bottom: 40%;visibility: hidden;}
.di a{display: block;width: 100%;height: 100%;}

@media only screen and (max-width:760px ) {
	.di{visibility: visible;}
}
.tt{width: 60px;border:2px solid skyblue ;position: fixed;bottom: 82px;right: 0;display: none;}
.tt li{height: 31px;width: 100%;background:white;}
.tt li a{display: block;height: 30px;width: 100%;text-align: center;font-size: 10px;color: black;line-height: 30px;
border-bottom:1px solid darkblue ;}
.tt li a:hover{color: red;}
.tt li:nth-of-type(4) a{color: blue;}
