.max_section3{width: 100%;}
.min_section3{width: 1080px;margin: 0 auto;padding-bottom: 78px;padding-top: 42px;position: relative;}
.section3{width: 23%;padding-right: 2%;border-right:1px solid #bababa;height: 480px;box-sizing: border-box;float: left;}
.section3 li{width: 100%;height: 77px;border-bottom:3px solid  transparent;}
.section3 li a{width: 67%;height: 77px;line-height: 77px;text-align: left;font-size: 20px;color: black;display: block;
padding-left: 33%;}
.section3 li:nth-of-type(4){border-bottom:3px solid  #fa9634;}
.section3 li:hover{border-bottom:3px solid #FA9634 ;}
.section3 li:nth-of-type(1) a{background: url(../img/xsjx_1.gif) no-repeat 11% center;}
.section3 li:nth-of-type(1):hover a{background: url(../img/xsjx.gif) no-repeat 11% center;}
.section3 li:nth-of-type(2) a{background: url(../img/hy_1.gif) no-repeat 11% center;}
.section3 li:nth-of-type(2):hover a{background: url(../img/hy.gif) no-repeat 11% center;}
.section3 li:nth-of-type(3) a{background: url(../img/ydh_1.gif) no-repeat 11% center;}
.section3 li:nth-of-type(3):hover a{background: url(../img/ydh.gif) no-repeat 11% center;}
.section3 li:nth-of-type(4) a{background: url(../img/dxs.gif) no-repeat 11% center;}
.section3 li:nth-of-type(5) a{background: url(../img/hj_1.gif) no-repeat 11% center;}
.section3 li:nth-of-type(5):hover a{background: url(../img/hj.gif) no-repeat 11% center;}
.section3 li:nth-of-type(6) a{background: url(../img/sdwh_1.gif) no-repeat 11% center;}
.section3 li:nth-of-type(6):hover a{background: url(../img/sdwh.gif) no-repeat 11% center;}








